html, body{
    height: 100%;          
    margin: 0;             
}

body{
    background-image: linear-gradient(to bottom,rgb(18, 15, 15), rgb(47, 41, 41));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;         
    flex-direction: column;
    
}
main {
    margin-top: 100px;
    flex: 1 0 auto;
}


.navbar {
    background-color: rgb(113, 0, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.logo {
  margin-top:-10px;
  margin-bottom:-26px;
}
.logo img{
    width: 50%;
    height: 20%;
    margin-top:-12px;
    margin-bottom:-23px;
    margin-right:-90px;
    margin-left:-100px;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.navbar a{
    color: rgb(242, 241, 237);
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a:hover{
    background-color:rgb(73, 0, 14) ;
}
.navbar li{
    float: left;
}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(242, 241, 237);
    font-size: 80px;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;       
    padding: 0;
}

#nameomg {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(142, 35, 35);
    font-size: 80px;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: -20px; 
}

.text {
    padding: 100px;
    margin: 20px auto;
}

.perart {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    width: 80%;
    margin: 50px auto;
}

.artp {
    text-align: center;
}

.artp img {
    width: 100%;
    height: 401px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.6);
}

.artdesc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(242, 241, 237);
    margin-top: 15px;
    font-size: 20px;
}

.contactfooter {
    flex-shrink: 0;
    background-color: rgb(113, 0, 20);  
    padding: 25px 30px;
    text-align: left;
    color: rgb(242, 241, 237);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.5);
}

.contactfooter h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.contactfooter p {
    font-size: 17px;
    margin: 8px 0;
}

.contactfooter a {
    color: rgb(242, 241, 237);
    font-weight: bold;
    text-decoration: none;
}

.contactfooter a:hover {
    text-decoration: underline;
}
